{% extends "base.html" %}

{% block content %}

<h2>Add Student</h2>

<a href="/dashboard" class="btn btn-secondary mb-3">⬅ Back</a>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST">
    <input name="id" class="form-control mb-2" placeholder="Student ID" required>
    <input name="name" class="form-control mb-2" placeholder="Name" required>

    <input name="math" class="form-control mb-2" placeholder="Math" required>
    <input name="science" class="form-control mb-2" placeholder="Science" required>
    <input name="social" class="form-control mb-2" placeholder="Social" required>
    <input name="computer" class="form-control mb-2" placeholder="Computer" required>
    <input name="english" class="form-control mb-2" placeholder="English" required>
    <input name="language" class="form-control mb-2" placeholder="Language" required>

    <button class="btn btn-success">Add Student</button>
</form>

{% endblock %}