{% extends "base.html" %}

{% block content %}

<div style="max-width:400px; margin:auto;">
    <h3 class="mb-3 text-center">Login</h3>

    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="POST">
        <input name="username" class="form-control mb-2" placeholder="Student ID / Username" required>
        <input name="password" type="password" class="form-control mb-2" placeholder="Password" required>

        <button class="btn btn-primary w-100">Login</button>
    </form>
</div>

{% endblock %}