{% extends "base.html" %}

{% block content %}

<h2>Update Student</h2>

<a href="/view" class="btn btn-secondary mb-3">⬅ Back</a>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST">
    <input name="name" class="form-control mb-2" placeholder="New Name (leave empty to keep same)">

    {% for sub, val in data.marks.items() %}
        <input name="{{ sub }}" class="form-control mb-2" placeholder="{{ sub }} ({{ val }})">
    {% endfor %}

    <button class="btn btn-warning">Update</button>
</form>

{% endblock %}