{% extends "base.html" %}

{% block content %}

<h2>Report - {{ data.name }}</h2>

<a href="/dashboard" class="btn btn-secondary mb-3">⬅ Back</a>

<table class="table table-bordered">
    <tr><th>Subject</th><th>Marks</th></tr>

    {% for sub, mark in data.marks.items() %}
    <tr>
        <td>{{ sub }}</td>
        <td>{{ mark }}</td>
    </tr>
    {% endfor %}
</table>

<h4>Total: {{ data.total }}</h4>
<h4>Percentage: {{ data.percentage }}</h4>
<h4>Grade: {{ data.grade }}</h4>

{% endblock %}